html {
  scroll-behavior: smooth;
}
.new-design {
  h1, h2, h3, h4, h5, h6, p, span, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $gilroy;
    font-style: normal;
    color: $color-one;
    letter-spacing: 0.03em;
  }

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;

    span {
      color: $color-one-light;
      font-weight: 400;
    }
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    span {
      color: $color-two;
      font-weight: 600;
    }
  }

  h3, .h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  h2, .h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 135%;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  h1, .h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 130%;

    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  img {
    width: 100%;
  }

  &__button {
    display: inline-block;
    text-transform: uppercase;
    font-family: $gilroy;
    font-weight: 700;
    font-size: vw(14);
    line-height: vw(20);
    padding: vw(30) vw(74);
    color: $color-white;
    background-color: $color-two;

    &:hover {
      color: $color-white;
      opacity: 0.8;
    }

    @include mobile {
      padding: px(15) px(30);
      font-size: px(12);
      line-height: px(16);
    }

    @include desktop {
      padding: px(30) px(74);
      font-size: px(14);
      line-height: px(20);
    }
  }
}
