$color-one: #4F616B;
$color-one-light: #8E8E8E;
$color-two: #53C1B1;
$color-thee: #4F616B;
$color-white: #fff;
$color-ace: #F3F3F3;

$gilroy: 'Gilroy', sans-serif;

$desktop-xl: 1800;
$laptop: 1440;
$desktop: 1025;
$tablet: 768;
$desktop-vh: 750;
$mobile: 320;

