$color-one: #4F616B;
$color-one-light: #8E8E8E;
$color-two: #53C1B1;
$color-thee: #4F616B;
$color-white: #fff;
$color-ace: #F3F3F3;

$gilroy: 'Gilroy', sans-serif;

$grid-width: 1200px;
$tablet: 768px;
