mixin tovar-block-item(img, title)
  .col.tovar-block__item
    .tovar-block__item-img
      img(src=img)
    .tovar-block__item-box
      .tovar-block__item-title
        p=title
        .tovar-block__item-arrow
      .tovar-block__item-del
