extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Index page
  section.new-design
    h1
      a(href="/franchise").page__title franchise
    h1
      a(href="/manufacturing").page__title manufacturing
    h1
      a(href="#" data-open-modal="feedback").page__title modal

    .modal.modal--preload.modal--feedback(data-modal="feedback")
      .modal__wrapper
        .modal__overlay(data-close-modal)
        .modal__content
          p.h1 ВЫберите город
          .city
            .city__box.city__regoin.is-visible
              p.city__title Регион
              .city__wrapper(data-simplebar data-simplebar-auto-hide="false")
                p.city__item  Амурская область
                p.city__item  Архангельская область
                p.city__item  Белгородская область
                p.city__item  Владимирская область
                p.city__item  Волгоградская область
                p.city__item  Воронежская область
                p.city__item  Ивановская область
                p.city__item  Иркутская область
                p.city__item  Амурская область
                p.city__item  Амурская область
                p.city__item  Амурская область
                p.city__item  Амурская область
                p.city__item  Амурская область
            .city__box.city__gorod
              p.city__title Город
              button.city__return Изменить регион
              .city__wrapper(data-simplebar data-simplebar-auto-hide="false")
                p.city__item  г. Белгород
                p.city__item  г. Старый Оскол
                p.city__item  г. Строитель
                p.city__item  пгт. Разумное


          .modal__check
            .modal__check-box
              input(id="another" name="another" type="checkbox")
              label(for="another") Другой город
            p.modal__check-text Оформление заказа и доставка в города, не входящие в список временно недоступны
          button(data-close-modal).new-design__button Сохранить
          button.modal__close-btn(type="button", aria-label="Закрыть попап", data-close-modal)
            img(src=require('images/icons/icon-close.svg'))

