/* src/assets/styles/layout/_page.scss  */

.about-block {
  padding: 120px 0;
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 54px;
  }

  p {
    margin-bottom: 28px;
  }

  &__img-box {
  }

  &__img {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    &:first-child {
      margin-bottom: 26px;
    }

    img {
      max-width: 504px;
    }

    @media (min-width:574px) and (max-width: 991px) {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.slide-block {
  padding: 70px 0;
  background-color: $color-ace;

  &__text {
    h1 {
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
      color: $color-one-light;
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .new-design__button {
    margin-top: 30px;

    @media (max-width: 767px) {
      width: 310px;
    }

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__box {
    position: absolute;
    background-color: $color-white;
    max-width: 310px;
    padding: 25px 30px;
    top: 120px;
    left: 30%;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    @media (max-width: 767px) {
      position: relative;
      margin: 30px auto -40px;
      top: 0;
      left: 0;
    }
  }

  &__benefits {
    display: flex;
    margin-top: auto;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 30px;
    }
  }

  &__benefits-item {
    flex: 0 0 33.33333%;

    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }

    @media (max-width: 767px) {
      flex: auto;
    }
  }

  &__benefits-dot {
    position: relative;

    &:after, &:before {
      content: "";
      position: absolute;
      width: 8px;
      border-radius: 100%;
      height: 8px;
      background-color: $color-one;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      left: 0;
    }

    &:before {
      right: 0;
    }

    @media (max-width: 767px) {
      margin: 30px 0;
      &:after, &:before {
        top: auto;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
      }

      &:after {
        bottom: -18px;
      }

      &:before {
        top: -18px;
      }
    }
  }
}

.franch-block {
  position: relative;
  background-image: url("@~images/bg-franch.png");
  padding-top: 100px;
  min-height: vw(1280);

  &__title {
    text-align: center;
    margin-bottom: 63px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &__img-logo {
    max-width: 400px;
  }

  &__img-promo {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden;

    @media (max-width: 767px) {
      display: none!important;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 126px;

    &--right {
      align-items: flex-end;
    }

    &--left {
      align-items: flex-start;
    }

    &--center {
      margin-top: 0;

      @media (max-width: 767px) {
        display: none!important;
      }
    }

    @media (max-width: 767px) {
      align-items: center;
      margin-top: 0;
    }
  }

  &__human {
    display: none;
    background-image: url("@~images/franch/human-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 216px;
    height: 197px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: vw(150);
    left: 45vw;

    p {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      color: $color-one-light;
      margin-right: 15px;

      span {
        font-weight: 600;
        color: $color-two;
      }
    }
  }

  &__item {
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__item-img {
    max-width: 145px;
  }

  &__item-text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    p {
      color: $color-one-light;
      font-weight: 400;

      span {
        font-weight: 600;
        color: $color-two;
      }
    }
  }

  @include desktop {
    min-height: px(1280);
  }
}

.fact-block {
  padding: 120px 0;

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    ". . . . ."
    ". . . . .";

    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
      ". . "
      ". . "
      ". . "
      ". . "
      ". . ";
    }

    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    padding: 34px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;

      span {
        font-weight: 500;
        color: $color-two;
      }
    }

    &:nth-child(5n) {
      border-right: none;
    }

    &:nth-child(n+6):nth-child(-n+10) {
      border-bottom: none;
    }

    @media (max-width: 991px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      border-right: 1px solid rgba(0, 0, 0, 0.1) !important;

      &:nth-child(2n) {
        border-right: none!important;
      }

      &:nth-child(n+9):nth-child(-n+10) {
        border-bottom: none !important;
      }
    }

    @media (max-width: 425px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      border-right: none !important;

      &:nth-child(n+9):nth-child(-n+10) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
    }
  }
}

.tovar-block {
  &__title {
    text-align: center;
    margin-bottom: 47px;

    p {
      font-size: 20px;
      line-height: 60px;
    }
  }

  &__item {
    margin-bottom: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    max-width: 25%;

    &:nth-child(-n+3) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    @media (max-width: 767px) {
      flex: 0 0 50%;
      max-width: 50%;

      &:nth-child(-n+3) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (max-width: 520px) {
      flex: 0 0 100%;
      max-width: 100%;

      &:nth-child(-n+3) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &__item-img {
    img {
      width: 100%;
    }
  }

  &__item-box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    margin: auto 0;
    position: relative;
    padding: 18px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      transition: color 0.4s;
    }

    &:hover {
      p {
        color: $color-two;
      }

      .tovar-block__item-arrow {
        background-image: url("@~images/icons/arrow-active.svg");
      }
    }
  }

  &__item-arrow {
    display: inline-block;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background-image: url("@~images/icons/arrow.svg");
    background-position: center;
    transition: background-image 0.4s;
  }

  &__item-del {
    margin-top: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.why-block {
  padding: 40px 0 120px;
  background-image: url("@~images/why-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;

  .wrapper-inner {
    transform: translateY(50px);
  }

  &__item {
    display: flex;
    margin-bottom: 45px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__text {
    p {
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $color-one-light;

      span {
        color: $color-thee;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0 70vw;
    background-image: url("@~images/why-bg-mobile.png");

    h2 {
      margin-bottom: 40px;
    }

    .wrapper-inner {
      transform: translateY(0);
    }
  }
}

.contact-block {
  padding: 75px 0 100px;

  h2 {
    text-transform: uppercase;
  }

  &__manager {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__avatar {
    width: 176px;
    flex-shrink: 0;
    display: flex;
  }

  &__text {
    margin-left: 25px;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
    ". ."
    ". text"
    ". text"
    ". ."
    ". .";

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__input-group {
    position: relative;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    input, textarea, select {
      padding: 26px 32px;
      width: 100%;
      height: 100%;
      font-family: $gilroy;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 28px;
      background-color: #F6F7F8;
      outline: none;
      border: none;

      &::placeholder {
        color: $color-one-light;
      }
    }

    img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
      right: 32px;
    }

    textarea {
      height: 100%;
    }

    select {
      appearance:none;
    }

    button {
      width: 100%;
      height: 100%;
    }

    &-text {
      grid-area: text;

      img {
        top: 26px;
        transform: none;
      }
    }

    &-select {
      img {
        width: 16px;
        height: 9px;
      }
    }

    &-check {
      display: flex;

      input {
        display: none;

        &:checked ~ label::before {
         background-image: url("@~images/icons/icon-checkbox.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 18px;
        }
      }

      label {
        display: flex;
        font-family: $gilroy;
        letter-spacing: 0.03em;
        font-weight: 300;
        width: 188px;
        font-size: 12px;
        line-height: 18px;
        color: #999;

        &:before {
          content: '';
          width: 80px;
          flex-shrink: 0;
          margin-right: 20px;
          display: inline-block;
          height: 100%;
          background-color: #F6F7F8;
        }
      }
    }
  }
}

.slide-block-two {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding: 73px 0;

    h1, h3 {
      text-transform: uppercase;
    }

    h1 {
      margin-bottom: 7px;
    }

    p {
      margin: 30px 0 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: $color-one-light;
    }
  }
}

.about-block-two {
  margin: 100px 0 70px;

  h1, h3 {
    text-transform: uppercase;
  }

  h3 {
    line-height: 60px;
  }

  &__hr {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(79, 97, 107, 0.1);

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__text {
    margin-left: 80px;

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: $color-one-light;
    }

    @media (max-width: 991px) {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  &__box {
    margin-top: 26px;
    margin-left: 80px;
    display: flex;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: $color-one-light;
    }

    img {
      width: px(170);
      margin: auto;
      height: 100%;
      flex-shrink: 0;
    }

    @media (max-width: 991px) {
      margin-left: 0;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.manufacturing-block {
  margin: 70px 0 120px;
}

.steps-block {
  padding: 100px 0 130px;
  background-color: #F6F6F6;
  background-image: url("@~images/bg-steps.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &__bottom {
    margin-top: 120px;

    h1, h3 {
      color: $color-thee;
    }

    .h1 {
      font-size: 44px;
      line-height: 60px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 26px;
        line-height: 32px;
      }
    }

    .h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  &__quote {
    margin-top: auto;
    position: relative;
    z-index: 1;

    &:before {
      position: absolute;
      content: "";
      left: -90px;
      width: 86px;
      height: 70px;
      background-image: url("@~images/icons/icon-quote.svg");
      @include mobile {
        display: none;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: $color-one-light;
    }

    .new-design__button {
      margin-top: 50px;
    }
  }

  &__bottle {
    z-index: 2;
    img {
      position: absolute;
      bottom: -130px;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }
}

.advantages-block {
  padding: 110px 0;

  .h1 {
    text-align: center;
  }

  &__item {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__img {
    display: flex;
    position: relative;
    height: 300px;

    &:before {
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      background-color: #F6F6F6;
    }

    img {
      z-index: 1;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 8px 0;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__text {
    p {
      color: $color-one-light;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
.ferula-block {
  padding: 110px 0;
  background-color: #F6F6F6;

  &__title {
    text-align: center;

    .h1 {
      font-size: 44px;
      line-height: 60px;

      span {
        display: inline-block;

        &:before {
          content: "";
          display: inline-block;
          width: 27px;
          height: 35px;
          background-image: url("@~images/icons/icon-leaf.svg");
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }

      @media (max-width: 767px) {
        font-size: 26px;
        line-height: 32px;

        span {
          &:before {
            width: 26px;
            height: 32px;
          }
        }
      }
    }

    .h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 60px;
    }
  }

  .ferula-block__slider {
    position: relative;

    .swiper {
      overflow: hidden;
    }
  }

  .ferula-block__slider-button-next, .ferula-block__slider-button-prev {
    background-image: url("@~images/icons/slider-arrow-active.svg");
    background-size: 100%;
    width: 80px;
    height: 80px;

    @media (max-width: 1520px) {
      display: none;

    }
  }

  .ferula-block__slider-button-next.swiper-button-disabled, .ferula-block__slider-button-prev.swiper-button-disabled {
    background-image: url("@~images/icons/slider-arrow.svg");
  }

  .ferula-block__slider-button-next {
    right: -135px;
  }

  .ferula-block__slider-button-prev {
    left: -135px;
    transform: rotate(180deg);
  }
}
